{% extends 'adminindex.html' %}
{% block content %}
<div style="padding-left:20vw; padding-top:5vw">
<table class="table" style="width: 70%;">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">User Name</th>
        <th scope="col">Name</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for i in active %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.stdlogin.username}}</td>
            <td>{{i.std.name}}</td>
            <td><form method="POST" action="changestate">
                {% csrf_token %}
                <button class="btn btn-dark" id={{i.id}} value={{i.id}} name="btn" type="submit">Inactivate</button></form></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
    {% endblock %}