{% extends 'stdindex.html' %}
{% block content %}
<div style="display: block; margin-left: 30vw;">
    <form method="POST" action="StudentRegistration" onsubmit="return validate()">
        {% csrf_token %}
        <div class="row  h-100">
          <div class="col-xl-12 ">
            <div class="card" style="border-radius: 1rem; width: 50%; margin-top: 2vw;">
              <div class="row">
                <div class="col-md col-lg  align-items-center">
                  <div class="card-body  text-black">
            <div class="row" style="padding-top: 1vw;">
              <div class="col-md-2">
                <label>Name</label>
              </div>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="name" id="name" required>
              </div>
            </div>
            <div class="row" style="margin-top: 1vw;">
                <div class="col-md-2">
                  <label>Contact</label>
                </div>
                <div class="col-sm-10">
                  <input type="tel" name="contact" id="contact" class="form-control" required>
                </div>
              </div>
              <div class="row" style="padding-top: 1vw;" >
                <div class="col-md-2">
                  <label>Email</label>
                </div>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="email" name="email"required>
                </div>
              </div>
              <div class="row" style="padding-top: 1vw;">
                <div class="col-md-2">
                  <label>User Name</label>
                </div>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="username" name="username" required>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <label>Password</label>
                </div>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="password" name="password" required>
                </div>
              </div>
              <div class="row" style="padding-top: 1vw;">
                <div class="col-md-2">
                  <label>Confirm Password</label>
                </div>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="confirmpass" name="confirmpass" required>
                </div>
              </div>
              
              <div class="row" style="padding-top: 1vw;">
                <div class="col-sm-5">
                    <input type="submit" class="btn btn-dark form-control" style="margin-left: 10vw;"  value="Register">
                </div>
              </div>  
              <div class="row" style="padding-top: 1vw;">
                <div class="col-sm-8">
                  <p id="msg"></p>    
                            </div>
              </div> 
    </form>
  </div></div></div></div></div></div>
</div>

<script>
  function validate() {
      var pass=document.getElementById("password").value
      var cpass=document.getElementById("confirmpass").value
      var name=document.getElementById("name").value
      var uname=document.getElementById("username").value
      var regx=/^[6-9]\d{9}$/
      var contact=document.getElementById("contact").value
      if (name.length<4){
          document.getElementById("msg").innerHTML="Name must contain atleast 4 characters"
          return false
      }
      if (!regx.test(contact)){
              document.getElementById("msg").innerHTML="Please enter valid number"
              return false
            }
      if (uname.length<4){
          document.getElementById("msg").innerHTML="Username must contain atleast 4 characters"
          return false
      }
      if (uname=="admin"){
            document.getElementById("msg").innerHTML="Username can't be admin"
          return false
        }
      if(pass.length<8){
        document.getElementById("msg").innerHTML="Password must contain 8 characters"
        return false
      }
      else if(pass.length>15){
        document.getElementById("msg").innerHTML="Password must not exceed 15 characters"
        return false
      
      }
      if (pass==cpass){
        return true
      }
      else{
        document.getElementById("confirmpass").value=""
        document.getElementById("msg").innerHTML="Re enter the password"
        document.getElementById("confirmpass").innerHTML=""
        return false
      }
    }

</script>
{% endblock %}